.layout {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  max-width: 100%;
  min-width: 0;
  height: 100%;
}

/* Base styles for individual layouts */
.layout > * {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

/* Overlay screen */
.overlay-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 170;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Car table grid */
.car-table-grid {
  display: grid;
  grid-template-columns: 48px auto 40px;
}

@media (min-width: 600px) {
  .car-table-grid {
    grid-template-columns: 48px auto 112px 72px;
  }
}

@media (min-width: 960px) {
  .car-table-grid {
    grid-template-columns: 48px auto 112px 112px 72px;
  }
}

@media (min-width: 1280px) {
  .car-table-grid {
    grid-template-columns: 48px auto 112px 112px 96px 96px 72px;
  }
}
